.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    width: fit-content;
    margin: 0 ;
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px dotted rgba(0, 0, 255, 0.581);
    border-radius: 10px;
}

.bar {
    display: flex;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    width: fit-content;
    margin: 20px;
}

.cell2 {
    width: 40px;
    height: 40px;
    border: 2px dotted rgba(0, 0, 255, 0.581);
    border-radius: 20px;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #08377d 0%, #455de3 50%,  #7284ea 100% );
   
}