.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    border: 1px dotted rgb(51, 19, 235);
    width: 400px;
    height: 400px;
    border-radius: 20px;
  }

  .bar {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    border: 1px dotted rgb(51, 19, 235);
    width: 400px;
    height: 100px;
    border-radius: 20px;
  }

  /* Define the grid cell styles */
  .cell {
    border: 1px dotted rgb(51, 19, 235);
    border-radius:  20px;
    background-color: rgba(34, 135, 194, 0.398);
  }

  .cell2 {
    border: 1px dotted rgb(51, 19, 235);
    border-radius:  50px;

    background-color: rgba(34, 135, 194, 0.398);
  }



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background: linear-gradient(135deg, #08377d 0%, #455de3 50%,  #7284ea 100% );
   
}